/*! Import Css Modules */
@import './navbar.css';
@import './fonts.css';
@import './reset.css';
@import './search-modal.css';
@import './notif-box.css';
@import './mobile-menu.css';
@import './footer.css';
@import './search-modal.css';
@import './scroll-bar.css';


/*! Color Variables And Container */
:root{
    --woodSmoke:#0D0C11;
    --cadmiumRed:#E50914;
    --white:#ffffff;
    --rangoonGreen:#17161B;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
body{background-color: var(--woodSmoke);}


/*& ////////////////////// */
    /* & Contact Us Section */
/*& ////////////////////// */

/** Contact Us Section Styles */
.main{
    margin-bottom: 8rem;
}
.contact-us{
    margin-top: 2rem;
}
.contact-us__wrapper{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.contact-us__left{
    width: 50%;
}

.contact-us__right{
    width: 50%;
}

.contact-us__right-image{
    width: 30rem;
    height:30rem;
    display: block;
    margin: 0 auto;
    border-radius: 2rem;
}

.contact-us__right-image{
    animation: imageMove 4s infinite;
  }
  
  @keyframes imageMove {
    50% {
        transform: scale(1.055);
        box-shadow: var(--cadmiumRed) 0px 22px 70px 4px;
        opacity: 0.5;
    }
  }

.contact-us__title{
    color: var(--white);
    font-family: 'poppins-bold', Courier, monospace;
    font-size: 1.4rem;
}

.contact-us__text{
    color: var(--white);
    font-family: 'poppins-medium', Courier, monospace;
    line-height: 1.4rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

}

.contact-us__form{
    display: flex;
    flex-direction: column;
}

.contact-us__form-name,.contact-us__form-email{
    width: 34rem;
    height: 2.8rem;
    margin-bottom: 1rem;
    background-color: var(--woodSmoke);
    outline: none;
    border: 1px solid var(--white);
    font-family: 'poppins-medium', Courier, monospace;
    color: var(--white);
    padding: 1rem;
}

.contact-us__form-name::placeholder,.contact-us__form-email::placeholder{
    color: var(--white);

}

.contact-us__form-text{
    width: 34rem;
    height: 10rem;
    background-color: var(--woodSmoke);
    outline: none;
    color: var(--white);
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid var(--white);
    font-family: 'poppins-medium', Courier, monospace;
}

.contact-us__form-text::placeholder{
    color: var(--white);
}


.contact-us__form-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.contact-us__form-btn{
    background-color: var(--cadmiumRed);
    font-family: 'poppins-bold', Courier, monospace;
    padding: 1rem 5rem;
}

.contact-us__form-btn-link{
    color: var(--white);
}

.contact-us__form-icons{
    display: flex;
    margin-left: 1rem;
}

.contact-us__form-icons a{
    margin-right: 1rem;
    transition: all 120ms ease-in;
    margin-top: 2rem;
}

.contact-us__form-icon-instagram svg:hover{
    color: rgb(0, 200, 255);
}

.contact-us__form-icons a:hover{
    transform: scale(1.4);
}

.iziToast-texts{
    font-family: 'Iranina-Sans', Courier, monospace;
}

.iziToast-icon{
    width: 10rem;
    height: 10rem;
}
.iziToast-message{
    font-family: 'poppins-bold', Courier, monospace;
}


.sound-success,.sound-error{
    display: none;
} 

/*! Swal Library Css */
.swal2-modal {
    direction: rtl;
    font-family: "Iranina-Sans", Courier, monospace;
    font-size: 1.2rem;
    color: var(--white);
}
  
  .swal2-confirm{
    font-family: "Iranina-Sans", Courier, monospace;
  
}
