@import './navbar.css';
@import './fonts.css';
@import './reset.css';
@import './search-modal.css';
@import './notif-box.css';
@import './mobile-menu.css';
@import './responsive.css';

/*! Color Variables And Container */

:root{
    --woodSmoke:#0D0C11;
    --cadmiumRed:#E50914;
    --white:#ffffff;
    --rangoonGreen:#17161B;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
/* body{background-color: var(--woodSmoke);} */