/* !Imports */
@import '/css/reset.css';
@import '/css/fonts.css';

/*! Color Variables And Container */

:root{
    --woodSmoke:#0D0C11;
    --cadmiumRed:#E50914;
    --white:#ffffff;
    --rangoonGreen:#17161B;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

                                /*! ////////////////////////// */
                                        /* ^Styels */
                                /*! //////////////////////// */

/*& ////////////////////// */
    /* & Header Section */
/*& ////////////////////// */
.header{
    background-color: var(--woodSmoke);
}
/** ////Navbar Section Styles //// */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.navbar__logo{
    color: var(--cadmiumRed);
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
}

.navbar__list{
    display: flex;
    align-items: center;
}

.navbar__list-item{
    margin-right: 2rem;
    margin-left: 2rem;
}

.navbar__list-link{
    color: var(--white);
    font-family: 'poppins-medium', Courier, monospace;
    font-weight: 500;
    font-size: 1rem;
}

.navbar__list-item:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list-polygon{
    margin-right: 0.4rem;
}

.navbar__list-item:nth-child(4){
    display: flex;
    align-items: center;
}

.navbar__list-link-arrow{
    margin-left: 0.4rem;
}

.navbar__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navabr__search-icon,
.navbar__bell-icon,
.navbar__lang-icon{
    margin-right: 1.8rem;
    cursor: pointer;
}

.navbar__lang-icon{
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
    display: flex;
    align-items: center;
}

.navbar__lang-icon-svg{
    margin-right: 1rem;
}

.navbar__lang-icon-arrow{
    margin-left: 0.4rem;
}

.navabr__search-icon-svg{
    cursor: pointer;
}
.navbar__bell-icon{
    cursor: pointer;
}

.navbar__lang-icon{
    position: relative;
}

.navbar__lang-icon-arrow{
    transform: rotate(180deg);
    transition: all 200ms ease-in;
}

.language__list{
    color: var(--white);
    display: flex;
    flex-direction: column;
    background-color: var(--woodSmoke);
    position: absolute;
    right: 6rem;
    top: 3.2rem;
    border-radius: 1rem;
    display: none;
}

.language__list-item{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
}

/** ////Mobile Menu Styles //// */
.mobile-menu__icon{
    fill: red;
    font-size: 2rem;
    display: none;
    transition: all 200ms ease-in;
}

.mobile-menu{
    display: none;
    margin-top: -1rem;
}

.mobile-menu__searchbox{
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    background-color: var(--rangoonGreen);
    color: var(--white);
    display: none;
}

.mobile-menu__searchbox::placeholder{
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
}

.mobile-menu__searchbox-btn{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border:none;
    outline: none;
    background-color: var(--rangoonGreen);
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
    cursor: pointer;
    margin-bottom: 1rem;
    display: none;
}

.mobile-menu__search-icon{
    cursor: pointer;
}

.mobile-menu__notif-modal{
    width: 14rem;
    height: 10rem;
    background-color: var(--woodSmoke);
    color: var(--white);
    border-radius: 1rem;
    line-height: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'inter-regular', Courier, monospace;
    display: none;

}

.mobile-menu__lang-icon{
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
    cursor: pointer;

}

.mobile-menu__lang-list{
    background-color: var(--woodSmoke);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    margin-top: -2rem;
    display: none;
}

.mobile-menu__lang-list-item{
    color: var(--white);
    margin-bottom: 1rem;
    font-family: 'inter-regular', Courier, monospace;
}

.mobile-menu__bell-icon{
    cursor: pointer;
}

.mobile-menu__icon {
    display: none;
    margin-right: 2rem;
  }

  .navbar__logo {
    margin-left: 2rem;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 18rem;
    height: 100vh;
    z-index: 10;
    display: none;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .mobile-menu__list-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .mobile-menu__list-link {
    color: var(--white);
    font-family: "poppins-medium", Courier, monospace;
    font-weight: 500;
    font-size: 1rem;
  }
  .mobile-menu__icons {
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .mobile-menu__language__list {
    display: none;
  }

  .mobile-menu__icon{
    cursor: pointer;
  }






















/** ////Modal Search Styles //// */

.search-modal{
    max-width: 40rem;
    height: 14rem;
    border-radius: 1rem;
    background-color: var(--rangoonGreen);
    margin: 0 auto;
    margin-top: 1rem;
    padding-top: 1rem;
    z-index: 100;
    display: none;
    transition: all 400ms ease-in;
    animation-name: showModal;
    animation-duration: 800ms;
}


@keyframes showModal{
    from {
        transform: scale(1,0.4);
    }
    to{
        transform: scale(1);

    }
}

.modal-show{
    display: block;
}

.search-modal__title{
    text-align: center;
    font-size: 1rem;
    color: var(--white);
    font-family: 'poppins-bold', Courier, monospace;
}

.search-modal__input{
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    width: 18rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: all 200ms ease-in;
    background-color: var(--rangoonGreen);
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;

}
.search-modal__input:focus{
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    transition: all 200ms ease-in;
}

.search-modal__btn{
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 1rem;
    background-color: var(--cadmiumRed);
    color: var(--woodSmoke);
    font-family: 'poppins-bold', Courier, monospace;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-modal__close{
    fill: var(--white);
    font-size: 2rem;
    display: block;
    margin-top: -1rem;
    margin-left: 0.2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.search-modal__close:hover{
    fill: var(--cadmiumRed);
}

/** ////Notification Modal Styles //// */
.notif-box{
    display: flex;
    justify-content:end;
    align-items: center;
    display: none;
}
.notif-modal{
    width: 20rem;
    height: 6rem;
    border-radius: 1rem;
    text-align: center;
    margin-right: 1rem;
    margin-top: 0.2rem;
    line-height: 5rem;
    font-family: 'poppins-bold', Courier, monospace;
    background-color: var(--rangoonGreen);
    color: var(--cadmiumRed);
}

.notif-modal__close{
    fill: var(--cadmiumRed);
    display: block;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
    cursor: pointer;
}

/** ////Swiper Js Slider Styles //// */


