/* !Imports */

/*! Color Variables And Container */

:root{
    --woodSmoke:#0D0C11;
    --cadmiumRed:#E50914;
    --white:#ffffff;
    --rangoonGreen:#17161B;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
body{background-color: var(--woodSmoke);}

                                /*! ////////////////////////// */
                                        /* ^Styels */
                                /*! //////////////////////// */

/*& ////////////////////// */
    /* & Header Section */
/*& ////////////////////// */
.header{
    background-color: var(--woodSmoke);
}
/** ////Navbar Section Styles //// */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.navbar__logo{
    color: var(--cadmiumRed);
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
    transition: all 140ms ease-in;
}


.navbar__list{
    display: flex;
    align-items: center;
}

.navbar__list-item{
    margin-right: 2rem;
    margin-left: 2rem;

}



.navbar__list-link{
    color: var(--white);
    font-family: 'poppins-medium', Courier, monospace;
    font-weight: 500;
    font-size: 1rem;
    transition: all 140ms ease-in;
}

.navbar__list-link:hover{
    color: var(--cadmiumRed);
    text-shadow: 3px 0px 0px rgba(229, 9, 20, 1);
    /* text-shadow: 3px 0px 0px rgba(255, 255, 255, 1); */
    font-size: 1.4rem;
}

.navbar__list-item:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list-polygon{
    margin-right: 0.4rem;
}

.navbar__list-item:nth-child(4){
    display: flex;
    align-items: center;
}

.navbar__list-link-arrow{
    margin-left: 0.4rem;
}

.navbar__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navabr__search-icon,
.navbar__bell-icon,
.navbar__lang-icon{
    margin-right: 1.8rem;
    cursor: pointer;
}

.navbar__lang-icon{
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
    display: flex;
    align-items: center;
}

.navbar__lang-icon-svg{
    margin-right: 1rem;
}

.navbar__lang-icon-arrow{
    margin-left: 0.4rem;
}

.navabr__search-icon-svg{
    cursor: pointer;
}
.navbar__bell-icon{
    cursor: pointer;
}

.navbar__lang-icon{
    position: relative;
}

.navbar__lang-icon-arrow{
    transform: rotate(180deg);
    transition: all 200ms ease-in;
}

.language__list{
    color: var(--white);
    flex-direction: column;
    background-color: var(--woodSmoke);
    position: absolute;
    right: 6rem;
    top: 3.2rem;
    border-radius: 1rem;
    display: none;
    position: absolute;
    z-index: 1000;
}

.language__list-item{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
}

/** ////Mobile Menu Styles //// */
.mobile-menu__icon{
    fill: red;
    font-size: 2rem;
    display: none;
    transition: all 200ms ease-in;
}

.mobile-menu{
    display: none;
    margin-top: -1rem;
}

.mobile-menu__searchbox{
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    background-color: var(--rangoonGreen);
    color: var(--white);
    display: none;
}

.mobile-menu__searchbox::placeholder{
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
}

.mobile-menu__searchbox-btn{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border:none;
    outline: none;
    background-color: var(--rangoonGreen);
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
    cursor: pointer;
    margin-bottom: 1rem;
    display: none;
}

.mobile-menu__search-icon{
    cursor: pointer;
}

.mobile-menu__notif-modal{
    width: 14rem;
    height: 10rem;
    background-color: var(--woodSmoke);
    color: var(--white);
    border-radius: 1rem;
    line-height: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'inter-regular', Courier, monospace;
    display: none;

}

.mobile-menu__lang-icon{
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
    cursor: pointer;

}

.mobile-menu__lang-list{
    background-color: var(--woodSmoke);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    margin-top: -2rem;
    display: none;
}

.mobile-menu__lang-list-item{
    color: var(--white);
    margin-bottom: 1rem;
    font-family: 'inter-regular', Courier, monospace;
}

.mobile-menu__bell-icon{
    cursor: pointer;
}

.mobile-menu__icon {
    display: none;
    margin-right: 2rem;
  }

  .navbar__logo {
    margin-left: 2rem;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 18rem;
    height: 500rem;
    z-index: 10;
    display: none;
    transition: all 200ms ease-in;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .mobile-menu__list-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .mobile-menu__list-link {
    color: var(--white);
    font-family: "poppins-medium", Courier, monospace;
    font-weight: 500;
    font-size: 1rem;
  }
  .mobile-menu__icons {
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .mobile-menu__language__list {
    display: none;
  }

  .mobile-menu__icon{
    cursor: pointer;
  }



/** ////Modal Search Styles //// */

.search-modal{
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--rangoonGreen);
    margin: 0 auto;
    margin-top: 1rem;
    padding-top: 1rem;
    z-index: 100;
    display: none;
    transition: all 400ms ease-in;
    animation-name: showModal;
    animation-duration: 800ms;
    position: absolute;
    left: 30rem;
}


@keyframes showModal{
    from {
        transform: scale(1,0.4);
    }
    to{
        transform: scale(1);

    }
}

.modal-show{
    display: block;
}

.search-modal__title{
    text-align: center;
    font-size: 1rem;
    color: var(--white);
    font-family: 'poppins-bold', Courier, monospace;
}

.search-modal__input{
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    width: 18rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: all 200ms ease-in;
    background-color: var(--rangoonGreen);
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;

}
.search-modal__input:focus{
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    transition: all 200ms ease-in;
}

.search-modal__btn{
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 1rem;
    background-color: var(--cadmiumRed);
    color: var(--woodSmoke);
    font-family: 'poppins-bold', Courier, monospace;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-modal__close{
    fill: var(--white);
    font-size: 2rem;
    display: block;
    margin-top: -1rem;
    margin-left: 0.2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.search-modal__close:hover{
    fill: var(--cadmiumRed);
}

/** ////Notification Modal Styles //// */
.notif-box{
    display: flex;
    justify-content:end;
    align-items: center;
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
}
.notif-modal{
    width: 20rem;
    height: 6rem;
    border-radius: 1rem;
    text-align: center;
    margin-right: 1rem;
    margin-top: 0.2rem;
    line-height: 5rem;
    font-family: 'poppins-bold', Courier, monospace;
    background-color: var(--rangoonGreen);
    color: var(--cadmiumRed);

}

.notif-modal__close{
    fill: var(--cadmiumRed);
    display: block;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
    cursor: pointer;
}

/** ////Swiper Js Slider Styles //// */
.landing{
    /* height: 50rem; */
    height: auto;
    border-bottom: 4px solid var(--cadmiumRed);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.swiper-button-next::after , .swiper-button-prev::after{
    /* color: var(--cadmiumRed); */
    display: none;
}
.swiper-button-next {
    background-image: url('../icons/next-prev-btn.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    /* background-size: 26px; */
    margin-right: 1rem;
  }

.swiper-button-prev{
    background-image: url('../icons/next-prev-btn.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate(180deg);
    margin-left: 1rem;

  }

.swiper-button-prev::after{
    color: var(--cadmiumRed);  
}
.landing__image-slider{
    position: absolute;
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
}

.landing{
    height:100vh;
}


.swiper-slide__contents{
    position: absolute;
    top: 14rem;
    left: 8rem;
}

.swiper-slide__contents-type{
    background-color: var(--cadmiumRed);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-family: 'poppins-bold', Courier, monospace;
    color: var(--white);
}

.swiper-slide__contents-title{
    font-size: 3.4rem;
    color: var(--white);
    font-family: 'poppins-bold', Courier, monospace;
    margin-top: 1rem;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 1);
}

.swiper-slide__contents-text{
    color: var(--white);
    font-family: 'poppins-bold', Courier, monospace;
    line-height: 1.4rem;
    margin-top: 1rem;
    text-align: justify;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 1);
}

.swiper-slide__contents-category{
    margin-top: 1rem;
}

.swiper-slide__contents-year{
    font-size: 1.2rem;
    font-family: 'poppins-bold', Courier, monospace;

}

.swiper-slide__contents-age{
    color: var(--cadmiumRed);
    font-size: 1.2rem;
    font-family: 'poppins-regular', Courier, monospace;
}

.swiper-slide__contents-age-class{
    color: var(--white);
    font-family: 'poppins-regular', Courier, monospace;
}

.swiper-slide__contents-score{
    margin-top: 1rem;
    display: flex;
    align-items: center;

}

.swiper-slide__contents-score-star{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--white);
    font-size: 1.4rem;
    font-family: 'poppins-bold', Courier, monospace;
    margin-right: 1rem;
}

.swiper-slide__contents-score-star svg{
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.swiper-slide__contents-score-genre{
    color: var(--rangoonGreen);
    font-family: 'poppins-bold', Courier, monospace;

}

.swiper-slide__contents-score-genre span{
    color: var(--cadmiumRed);
}

.swiper-slide-btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--cadmiumRed);
    font-family: 'poppins-bold', Courier, monospace;
    color: var(--white);
    margin-top: 2rem;
    display: inline-block;
}


/*& ////////////////////// */
    /* & Main Section */
/*& ////////////////////// */

/** ////Recommend Section Styles //// */

.main{
    margin-bottom: 10rem;
    margin-top: 4rem;
}
.swiper-wrapper{
    align-items: center;
}

.recommend__title{
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
    color: var(--white);
   text-shadow: 3px 2px 0px var(--cadmiumRed);


}

.recommend__title svg{
    width: 1.6rem;
    height: 1.6rem;
}

.recommend__slider-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip:content-box;
    width: 20rem;
    height: 30rem;
    border-radius: 0.5rem;
}

.recommend__slider-img{
    opacity: 0.7;
}

.recommend-slide:hover .recommend__slider-img{
    opacity: 1;
    transition: all 200ms ease-in;
}



.recommend__slider{
    margin-top: 2rem;
}

.recommend-slide{
    position: relative;
}

.recommend__slider-contents{
    position: absolute;
    top: 19rem;
    left: 2rem;
}

.recommend__slider-contents-category{
    background-color: var(--cadmiumRed);
    color: var(--white);
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    font-family: 'poppins-bold', Courier, monospace;
    font-size: 0.8rem;
}

.recommend__slider-contents-stars{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recommend__slider-name{
    font-size: 1.4rem;
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;
    text-shadow: 3px -2px 5px rgba(18, 18, 18, 1);
}

.recommend-slide:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.recommend-slide{
    margin-top: 4rem;
}






/** ////Popular Section Styles //// */

.main{
    margin-bottom: 10rem;
    margin-top: 4rem;
}
.swiper-wrapper{
    align-items: center;
}

.popular__title{
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
    color: var(--white);
   text-shadow: 3px 2px 0px var(--cadmiumRed);


}

.popular__title svg{
    width: 1.6rem;
    height: 1.6rem;
}

.popular__slider-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip:content-box;
    width: 20rem;
    height: 30rem;
    border-radius: 0.5rem;
}

.popular__slider-img{
    opacity: 0.7;
}

.popular-slide:hover .popular__slider-img{
    opacity: 1;
    transition: all 200ms ease-in;
}



.popular__slider{
    margin-top: 2rem;
}

.popular-slide{
    position: relative;
}

.popular__slider-contents{
    position: absolute;
    top: 19rem;
    left: 2rem;
}

.popular__slider-contents-category{
    background-color: var(--cadmiumRed);
    color: var(--white);
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    font-family: 'poppins-bold', Courier, monospace;
    font-size: 0.8rem;
}

.popular__slider-contents-stars{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.popular__slider-name{
    font-size: 1.4rem;
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;
    text-shadow: 3px -2px 5px rgba(18, 18, 18, 1);
}

.popular-slide:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.popular-slide{
    margin-top: 4rem;
}


/** ////Genre Section Styles //// */
.genre__wrapper{
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.genre__box{
    width: 20rem;
    height: 14rem;
    position: relative;
    transition: all 140ms ease-in;
    opacity: 0.7;
    margin-bottom: 2.5rem;
}

.genre__box:hover{
    transform: scale(1.1);
    opacity: 1;
   text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
   border-radius: 1rem;

}

.genre__box:hover .genre__title{
    color: var(--cadmiumRed);

}

.genre__title{
    color: var(--white);
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: 'inter-bold', Courier, monospace;
    font-size: 2rem;
}

.genre__box-image{
    width: 100%;
    /* height: auto; */
    height: 100%;
    border-radius: 1rem;
}

.genre__box-content{
    position: absolute;
    left: 2rem;
    top: 6rem;
}

.genre__box-title{
   color: var(--white); 
   font-family: 'inter-bold', Courier, monospace;   
   font-size: 2rem;
   margin-bottom: 1rem;
}



.genre__box-text{ 
   color: var(--white);
   font-family: 'inter-regular', Courier, monospace;   
   font-size: 0.8rem;
   text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}


.waviy {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }


.waviy span {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2.5s infinite;
    animation-delay: calc(.2s * var(--i));
    color: var(--cadmiumRed);
    font-family: 'poppins-bold', Courier, monospace;  
    text-shadow: 3px 2px 0px rgb(217, 217, 217);
  }

  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }

  }





/*& ////////////////////// */
    /* & Footer Section */
/*& ////////////////////// */

/** ////Footer Top Section Styles //// */
.footer-top{
    margin-bottom: 8rem;
}

.footer-top__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer-top__col1-title{
    color: var(--cadmiumRed);
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
}

.footer-top__col1-text{
    color: var(--white);
    margin-top: 1rem;
    line-height: 1.2rem;
    font-family: 'inter-regular', Courier, monospace;
}

.footer-top__col2-title,.footer-top__col3-title,.footer-top__col4-title{
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;
    margin-bottom: 1.4rem;
}

.footer-top__col2-item,.footer-top__col3-item,.footer-top__col4-item{
    margin-bottom: 0.5rem;
}

.footer-top__col2-link,.footer-top__col3-link,.footer-top__col4-link{
    color: var(--white);
    font-family: 'poppins-medium', Courier, monospace;
}

.footer-top__col2-link:hover ,.footer-top__col3-link:hover,.footer-top__col4-link:hover{
    color: var(--cadmiumRed);
    transition: all 140ms ease-in;
}



.footer-top__col3-link svg{
    margin-right: 0.5rem;
}

.footer-top__col3-telegram{
    fill: rgb(27, 141, 227);
}

.footer-top__col3-instagram{
    fill: red;
}

.footer-top__col3-facebook{
    fill: rgb(34, 102, 228);
}

.footer-top__col3-youtube{
    fill: red;
}

/** ////Footer Bottom Section Styles //// */

.footer-bottom__text{
    color: var(--white);
    text-align: center;
    font-family: 'inter-bold', Courier, monospace;
    margin-bottom: 2rem;
}