@import './navbar.css';
@import './fonts.css';
@import './reset.css';
@import './search-modal.css';
@import './notif-box.css';
@import './mobile-menu.css';
@import './responsive.css';

:root{
    --woodSmoke:#0D0C11;
    --cadmiumRed:#E50914;
    --white:#ffffff;
    --rangoonGreen:#17161B;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
body{background-color: var(--woodSmoke);}


                                /*! ////////////////////////// */
                                        /* ^Styels */
                                /*! //////////////////////// */

/*& ////////////////////// */
    /* & Main Section */
/*& ////////////////////// */
.header{
    border-bottom: 4px solid var(--rangoonGreen);
}
.film__description{
    margin-top: 4rem;
    background-color: var(--woodSmoke);
}

.film__desc-wrapper{
    display: flex;
    justify-content: space-around;
}

.film__desc-wrapper-left{
    width: 50%;
    height: 24rem;
    margin-right: 2rem;
}

.film__desc-wrapper-left-image{
    width: auto;
    height: 18rem;
    position: relative;
    border-radius: 1rem;
}

.film__desc-wrapper-left-title{
    color: var(--white);
    position: absolute;
    top: 9.2rem;
    z-index: 100;
    background-color: var(--cadmiumRed);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0rem;
    font-family: 'inter-medium', Courier, monospace;
}


.film__desc-wrapper-right{
    display: flex;
    flex-direction: column;
}

.film__desc-wrapper-right-title{
    font-size: 2.5rem;
    font-family: 'inter-bold', Courier, monospace;
    color: var(--white);
    margin-bottom: 2rem;
    text-shadow: 5px 1px 3px var(--cadmiumRed);

}

.film__desc-wrapper-right-name{
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.film__desc-wrapper-right-name-link{
    color: var(--cadmiumRed);
    font-family: 'inter-regular', Courier, monospace;
}

.film__desc-wrapper-right-like{
    display: flex;
    align-items: center;
    color: var(--white);
}

.film__desc-wrapper-right-like-btn,.film__desc-wrapper-right-dislike-btn{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.film__desc-wrapper-right-like-btn{
    margin-right: 1rem;
}

.film__desc-wrapper-right-like-btn-svg,.film__desc-wrapper-right-dislike-btn-svg{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    
}

.film__desc-wrapper-right-btns{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.film__desc-wrapper-right-watch{
    background-color: var(--cadmiumRed);
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 1rem;
    font-family: 'inter-regular', Courier, monospace;
}

.film__desc-wrapper-right-download{
    background-color: var(--rangoonGreen);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-family: 'inter-regular', Courier, monospace;
}

.film__desc-wrapper-right-watch-link,.film__desc-wrapper-right-download-link{
    color: var(--white);
}

.film__desc-wrapper-right-watch-svg{
    fill: var(--white);

}

.film__desc-wrapper-right-like-btn,
.film__desc-wrapper-right-dislike-btn{
    font-family: 'inter-bold', Courier, monospace;
}

.film__desc-wrapper-right-like-btn-svg,
.film__desc-wrapper-right-dislike-btn-svg{
    cursor: pointer;
}


.film__desc-wrapper-about{
    background-color: var(--woodSmoke);
    margin-right: 10rem;
    margin-left: 10rem;
    padding: 1rem;
    margin-top: 1rem;
}

.film__desc-wrapper-about-title{
    color: var(--white);
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
}

.film__desc-wrapper-about-text{
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
    line-height: 1.4rem;
    margin-top: 1rem;

}


.film__desc-wrapper-right-box{
    display: flex;
    flex-direction: column;
}

.movie__slider-image{
    width: 100%;
    height: 100%;
    box-shadow: var(--rangoonGreen) 0px 50px 100px -20px, var(--rangoonGreen) 0px 30px 60px -30px;
}

/** ////Image Slider Styles //// */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

/** ////Video Plauer Styles //// */
.video-player{
    width: 50rem;
    height: 28rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.video-js{
    margin: 0 auto;
    width: 100%;
    height: 100%;

    border-radius: 2rem;
}


/** ////Comments Section  Styles //// */

.comment__wrapper{
    display: flex;
    flex-direction: column;
}

.comments__title{
    color: var(--white);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'inter-bold', Courier, monospace;
    color: var(--white);
   text-shadow: 3px 2px 0px var(--cadmiumRed);
}

.comments__title-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.comments__write{
    display: flex;
    /* background-color: red; */
    background-color: var(--rangoonGreen);
    margin-top: 2rem;
}

.comments__avatar{
    border-radius: 50%;
    /* background-color: blue; */
    margin-right: 1rem;
}

.comments__input{
    width: 80%;
    height: 4rem;
    background-color: var(--rangoonGreen);
    margin-right:2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    font-size: 1.2rem;
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;

}

.comments__btn{
    /* margin-left: 4rem; */
    /* width: 4rem; */
    padding: 0rem 4rem;
    text-align: center;
    font-family: 'inter-bold', Courier, monospace;
    font-size: 1.2rem;
    background-color: var(--cadmiumRed);
    border-radius: 1rem;
    cursor: pointer;
}


.comments__boxes{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    background-color: var(--rangoonGreen);
    /* margin-top: 1rem; */
    margin-bottom: 10rem;
}

.comment__box:nth-child(1){
    margin-top: 1rem;
}
.comment__box{
    display: flex;
    margin-bottom: 2rem;

}

.comment__box-info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.comment__box-info-user{
    color: var(--white);
    font-family: 'inter-regular', Courier, monospace;
    margin-top: 0.5rem;

}

.comment__box-info-text{
    color: var(--white);
    margin-top: 1rem;
}

.comment__box-info-time{
    color: var(--cadmiumRed);
}



/** ////Swiper Js Similar Slider Styles //// */

.swiper-wrapper{
    align-items: center;
}

.similar__title{
    font-size: 2rem;
    font-family: 'inter-bold', Courier, monospace;
    color: var(--white);
   text-shadow: 3px 2px 0px var(--cadmiumRed);


}

.similar__title svg{
    width: 1.6rem;
    height: 1.6rem;
}

.similar__slider-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip:content-box;
    width: 20rem;
    height: 30rem;
    border-radius: 0.5rem;
}

.similar__slider-img{
    opacity: 0.7;
}

.similar-slide:hover .similar__slider-img{
    opacity: 1;
    transition: all 200ms ease-in;
}



.similar__slider{
    margin-top: 2rem;
}

.similar-slide{
    position: relative;
}

.similar__slider-contents{
    position: absolute;
    top: 19rem;
    left: 2rem;
}

.similar__slider-contents-category{
    background-color: var(--cadmiumRed);
    color: var(--white);
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    font-family: 'poppins-bold', Courier, monospace;
    font-size: 0.8rem;
}

.similar__slider-contents-stars{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.similar__slider-name{
    font-size: 1.4rem;
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;
    text-shadow: 3px -2px 5px rgba(18, 18, 18, 1);
}

.similar-slide:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.similar-slide{
    margin-top: 4rem;
}
