@import './reset.css';
@import './navbar.css';
@import './footer.css';
@import './fonts.css';
@import './notif-box.css';
@import './search-modal.css';
@import './mobile-menu.css';

:root{
    --woodSmoke:#0D0C11;
    --cadmiumRed:#E50914;
    --white:#ffffff;
    --rangoonGreen:#17161B;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
body{background-color: var(--woodSmoke);}



                                /*! ////////////////////////// */
                                        /* ^Styels */
                                /*! //////////////////////// */

/*& ////////////////////// */
    /* & Main Section */
/*& ////////////////////// */

/** ////Movie List Section Styles //// */

.movies__list{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.movies__list-title{
    color: var(--white);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: 'poppins-bold', Courier, monospace;
    color: var(--cadmiumRed);

}
.movies__list-geners{
    width: 88%;
    height: auto;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    background-color: var(--rangoonGreen);
    border-radius: 1rem;
    box-shadow: rgba(163, 158, 158, 0.4) 0px 2px 4px, rgba(195, 191, 191, 0.3) 0px 7px 13px -3px, rgba(202, 195, 195, 0.2) 0px -3px 0px inset;
}

.movies__list-geners-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 1rem;
    padding-left: 1rem;
}

.movies__list-geners-item{
    margin-top: 1rem;
    transition: all 200ms ease-in;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;
    display: block;
}

.movies__list-geners-link{
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius:0.2rem ;
    transition: all 200ms ease-in;

}

.movies__list-geners-link:hover{
    background-color: var(--cadmiumRed);
    color: var(--woodSmoke);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.movies__list-geners-item:hover{
    transform: scale(1.4);
}

/** ////Movie List Boxes Styles //// */
.movies__list-boxs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 94%;
    height:auto;
    margin: 0 auto;
    margin-top: 4rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(23, 22, 27, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.movies__list-box{
    width: 16rem;
    height: 25rem;
    border-radius: 1rem;
    transition: all 200ms ease-in;
    box-shadow: var(--cadmiumRed) 0px 14px 28px, var(--cadmiumRed) 0px 1px 1px;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}


.movies__list-box:hover{
    /* cursor: pointer; */
    transform: scale(1.1);
}

.movies__list-box-img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.movies__list-box-img{
    background-position: center;
    background-size: contain;
}

.movies__list-box{
    position: relative;
}
.movies__list-box-detail{
    position: absolute;
    top: 18rem;
}


.movies__list-box-detail-name{
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'inter-bold', Courier, monospace;
    margin-bottom: 2rem;
    text-shadow: 5px 3px 2px rgba(31, 25, 26, 1);
    padding-right:1rem;
    padding-left: 1rem;
}

.movies__list-box:hover .movies__list-box-detail-name{
    font-size: 1.4rem;
    transition: all 100ms ease-in;
}


/* .movies__list-box-detail-btn{
    display: flex;
    align-items: center;
    background-color: red;
    padding: 0.8rem 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--white);
    opacity: 0.5;
    font-family: 'inter-regular', Courier, monospace;
    max-width: 100%;
    transition: all 100ms ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

} */


.movies__list-box-detail-btn:hover{
    opacity: 1;
    transition: all 200ms ease-in;
}



/* .movies__list-box-detail-btn-svg{
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
} */

.movies__list-box{
    position: relative;
}
.movies__list-box-detail-btn-svg{
    width: 12rem;
    height: 12rem;
    position: absolute;
    right: 2rem;
    top: 7rem;
    color: red;
    display: none;
    transition: all 200ms ease-in;
    cursor: pointer;
    opacity: 0.5;
}

.movies__list-box:hover .movies__list-box-detail-btn-svg{
    display: block;
    transition: all 200ms ease-in;
}

.movies__list-box-detail-btn-svg:hover{
    opacity: 1;
}


/** ////Pagination Styles //// */
.pagination{
    margin-bottom: 10rem;
}
.pagination__list{
    background-color: var(--rangoonGreen);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.2rem;
    justify-content: space-around;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.pagination__list-item{
    margin-top: 2rem;
}

.pagination__list-link{
    padding: 1rem 2rem;
    color: var(--cadmiumRed);
    font-family: 'inter-bold', Courier, monospace;
    font-weight: bold;
    border-radius: 1rem;
    transition: all 120ms ease-in;
}

.pagination__list-link:hover{
    background-color: var(--woodSmoke);
    color: var(--white);
}