/*! Resposive Media Queries */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .search-modal{
    left: 16rem;
}
}

@media screen and (max-width: 980px) {
  .search-modal{
    left: 10rem;
}
}
@media screen and (max-width: 940px) {
}

@media screen and (max-width: 875px) {
  .navbar__logo {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 840px) {
  .navbar__list,
  .navbar__icons {
    display: none;
  }
  .mobile-menu__icon {
    display: block;
    margin-right: 2rem;
  }
  
  .navbar {
    z-index: -100;
  }
  .navbar__logo {
    margin: 0 auto;
  }

  .mobile-menu__search-icon,
  .mobile-menu__bell-icon,
  .mobile-menu__lang-icon {
    margin-bottom: 2.5rem;
  }


  .search-modal{
    left: 16rem;
}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 460px) {
}

@media screen and (max-width: 280px) {
}
