

/*! Resposive Media Queries */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .search-modal {
    left: 16rem;
  }

  .swiper-slide__contents {
    top: 10rem;
  }

  .footer-top__col2-item,.footer-top__col3-item,.footer-top__col4-item{
    text-align: center;
  }
  .footer-top__col2-title,.footer-top__col3-title,.footer-top__col4-title{
    text-align: center;
  }
  .footer-top__col1-text{
    text-align: justify;
  }
  .footer-top__col1,.footer-top__col2,.footer-top__col3,.footer-top__col4{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 980px) {
  .search-modal {
    left: 10rem;
  }
  .swiper-slide__contents-title {
    font-size: 2rem;
  }
  .swiper-slide__contents-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  div.swiper-button-prev ,div.swiper-button-next {
    top: 14rem;
  }
}

@media screen and (max-width: 940px) {
  .swiper-slide__contents {
    top: 8rem;
  }
}

@media screen and (max-width: 875px) {
  .navbar__logo {
    font-size: 1.4rem;
  }

  .swiper-rtl {
    top: 1rem;
  }
}

@media screen and (max-width: 840px) {
  .navbar__list,
  .navbar__icons {
    display: none;
  }
  .mobile-menu__icon {
    display: block;
    margin-right: 2rem;
  }

  .navbar {
    z-index: -100;
  }
  .navbar__logo {
    margin: 0 auto;
  }

  .mobile-menu__search-icon,
  .mobile-menu__bell-icon,
  .mobile-menu__lang-icon {
    margin-bottom: 2.5rem;
  }

  .search-modal {
    left: 16rem;
  }

  .mobile-menu {
    position: absolute;
    z-index: 10000;
  }

  .swiper-slide__contents {
    top: 6rem;
  }
}

@media screen and (max-width: 782px) {
  .swiper-slide__contents {
    top: 4rem;
  }
  .swiper-slide__contents-title {
    font-size: 1.5rem;
  }
  .swiper-slide-btn {
    padding: 0.5rem 1rem;
  }
  .swiper-slide__contents-score-genre {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 680px) {
  .swiper-slide__contents {
    top: 2rem;
  }
  div.swiper-button-prev ,div.swiper-button-next {
    top: 10rem;
  }

  .landing__image-slider{
    max-height: 80vh;
    min-height: 80vh;
  }
  .landing{
  height: 80vh;
  }
}

@media screen and (max-width: 620px) {
  .swiper-slide__contents {
    top: 0.2rem;
  }
  .swiper-slide__contents-text {
    font-size: 0.6rem;
  }
  .swiper-slide__contents-title,
  .swiper-slide__contents-text {
    text-align: center;
  }
  .swiper-slide__contents-type {
    display: inline-block;
    margin: 0 auto;
  }
  .swiper-slide__contents-score {
    flex-direction: column;
  }
  .swiper-slide__contents-score-star {
    margin-bottom: 1rem;
  }
  .swiper-slide-btn {
    font-size: 0.8rem;
  }

  .swiper-slide-btn {
    margin-top: 0.5rem;
  }

  .swiper-slide__contents-text {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .swiper-slide__contents-score-star svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .swiper-slide__contents-score-star{
    font-size: 1rem;
  }
  .swiper-slide__contents-score-genre{
    margin-top: -1rem;
  }
}



@media screen and (max-width: 596px) {
  .swiper-slide__contents-score {
    margin-top: 0.5rem;
  }
  .swiper-slide__contents-category {
    margin-top: 0.5rem;
  }

  .swiper-slide {
    position: relative;
  }

  .landing__image-slider{
    max-height: 60vh;
    min-height: 60vh;
  }
  .landing{
  height: 60vh;
  }
}




@media screen and (max-width: 460px) {
  .swiper-slide__contents-title{
    font-size: 1rem;
  }
  .swiper-slide__contents-age-class{
    font-size: 0.8rem;
  }
  .swiper-slide__contents-age,.swiper-slide__contents-year{
    font-size: 0.8rem;
  }
.swiper-slide-btn{
  font-size: 0.8rem;
}
.swiper-slide__contents-text{
  margin-top: 0.5rem;
}

.swiper-slide__contents-text{
}
.swiper-slide__contents{
  margin-right: 2.8rem;
}
.genre__box{
  margin-bottom: 2.8rem;
}
}

@media screen and (max-width: 400px) {

  .swiper-slide__contents{
    margin-left: -4rem;
  }
  .genre__box-text{
    font-size: 0.8rem;
  }
  .genre__box-content{
    top: 4rem;
    left: 1rem;
  }
  
  .genre__box{
    margin-bottom: -4rem;
  }
  
  .waviy span{
    font-size: 1.8rem;
  }

  .landing__image-slider{
    max-height: 55vh;
    min-height: 55vh;
  }
  .landing{
  height: 55vh;
  }

  .genre__box-title{
    font-size: 1.4rem;
  }
  .genre__box{
    margin-bottom: 2.8rem;
  }
}

@media screen and (max-width: 340px) {
  .genre__box{
    margin-bottom: 2.8rem;
  }
}
@media screen and (max-width: 340px) {
  .genre__box{
    margin-bottom: 2.8rem;
  }
}

@media screen and (max-width: 288px) {
.recommend__title,.popular__title{
  font-size: 1.5rem;
}
.genre__box{
  margin-bottom: 2.8rem;
}
}
@media screen and (max-width: 280px) {
  .genre__box-content{
    top: 3.2rem;
    left: 1rem;
  }
  .genre__box{
    margin-bottom: 2.8rem;
  }
}
